<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    <!-- NavBar starts here -->
    {{>navbar}}
    <!-- NavBar ends here -->

    404 error page

    <!-- Footer starts here -->
    {{>footer}}
    <!-- Footer ends here -->

</body>
</html>