<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
    <title>Weather</title>
</head>
<body>
    
    <!-- ConnectionDialog strats here -->
    {{>connectionDialog}}
    <!-- ConnectionDialog ends here -->

    <!-- NavBar starts here -->
    {{>navbar}}
    <!-- NavBar ends here -->

    <div class="main-container">
        <!-- Home starts here -->
        {{>home}}
        <!-- Home ends here -->

        <!-- Weather starts here -->
        {{>weather}}
        <!-- Weather ends here -->

        <!-- About starts here -->
        {{>about}}
        <!-- About endss here -->
    </div>

    <!-- Footer starts here -->
    {{>footer}}
    <!-- Footer ends here -->

    <script src="js/theme.js"></script>
    <script src="js/cities.js"></script>
    <script src="js/api_call.js"></script>
    <script src="js/handler.js"></script>

</body>
</html>