<div id="about" class="container-fluid about-section">
    <div class="row justify-content-center">
        <div class="col-10 col-md-5 half-section">
            <img src="images/about.png" alt="about" width="300" />
        </div>
        <div class="col-10 col-md-5 half-section">
            <h1>WHO AM I</h1>
            <p>I'm a software developer who loves to code</p> 
        </div>
    </div>
</div>