<div id="about" class="container-fluid about-section">
    <div class="row justify-content-center">
        <figure class="col-10 col-md-5 half-section">
            <img src="images/about.png" alt="about" style="filter: blur(10px) brightness(-100);"/>
        </figure>
        <div class="col-10 col-md-5 half-section">
            <h1>Who Am I</h1>
            <p>My name is Kiran Suthar. I'm a Software Developer.</p>
            <p>Seeking a beginner role to enhance and explore my technical knowledge and utilize my learning, skills and knowledge gained in the last few years.</p>
        </div>
    </div>
</div>