<footer class="text-center text-white footer">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media icons -->
        <section class="mb-4">
            <!-- Facebook -->
            <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #3b5998;"
                href="#!"
                role="button">
                <i class="fa fa-facebook-f"></i>
            </a>
    
            <!-- Twitter -->
            <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #55acee;"
                href="#!"
                role="button">
                <i class="fa fa-twitter"></i>
            </a>
    
            <!-- Instagram -->
            <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #ff5858;"
                href="#!"
                role="button">
                <i class="fa fa-instagram"></i>
            </a>
    
            <!-- Linkedin -->
            <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #0082ca;"
                href="#!"
                role="button">
                <i class="fa fa-linkedin"></i>
            </a>
            <!-- Github -->
            <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #333333;"
                href="#!"
                role="button">
                <i class="fa fa-github"></i>
            </a>
        </section>
        <!-- Section: Social media icons-->
    </div>
    <!-- Grid container -->
    
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white font-normal" href="/">Weather</a>
    </div>
    <!-- Copyright -->
</footer>