<footer class="text-center text-white footer">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media icons -->
        <section class="mb-4">
            <!-- Facebook -->
            <a
                class="social-icons"
                style="background-color: #3b5998;"
                href="https://www.facebook.com/karan.suthar.5099"
                target="_new_window">
                <i class="fa fa-facebook-f"></i>
            </a>
    
            <!-- Linkedin -->
            <a
                class="social-icons"
                style="background-color: #0082ca;"
                href="https://www.linkedin.com/in/kiransuthar/"
                target="_new_window">
                <i class="fa fa-linkedin"></i>
            </a>

            <!-- Instagram -->
            <a
                class="social-icons"
                style="background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);"
                href="https://www.instagram.com/ksuthar98/"
                target="_new_window">
                <i class="fa fa-instagram"></i>
            </a>

            <!-- Twitter -->
            <a
                class="social-icons"
                style="background-color: #55acee;"
                href="https://twitter.com/ksuth1998"
                target="_new_window">
                <i class="fa fa-twitter"></i>
            </a>

            <!-- Github -->
            <a
                class="social-icons"
                style="background-color: #333333;"
                href="https://github.com/ksp1998"
                target="_new_window">
                <i class="fa fa-github"></i>
            </a>
        </section>
        <!-- Section: Social media icons-->
    </div>
    <!-- Grid container -->
    
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Made with ❤️ By <a href="https://www.linkedin.com/in/kiransuthar/" target="_new_window">Kiran Suthar</a>
    </div>
    <!-- Copyright -->
</footer>