<div class="container-fluid header-section" id="header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">
                    <img src="images/bubbles/apple-weather.png" alt="logo" height="50" width="50" class="rounded-circle" />    
                    <span class="align-middle">Weather App</span>
                </a>
                <div>
                    <button id="themeBtn" class="themeBtn" class="btn btn-secondary" title="Theme">
                        {{!-- <i class="fa fa-moon"></i> --}}
                        <img src="https://img.icons8.com/plasticine/40/000000/bright-moon.png"/>
                    </button>
                    <button id="toggleBtn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a id="navHome" class="nav-link active" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a id="navWeather" class="nav-link" href="#weather">Weather</a>
                        </li>
                        <li class="nav-item">
                            <a id="navAbout" class="nav-link" href="#about">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>